In [18]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [19]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
508,tt0268978,60000000,313542341,A Beautiful Mind,Russell Crowe|Ed Harris|Jennifer Connelly|Chri...,Ron Howard,I need to believe that something extra ordinar...,"At Princeton University, John Nash struggles t...",135,Drama|Romance,Imagine Entertainment|DreamWorks SKG|Universal...,12/11/2001,7.5,2001
79,tt1666801,8500000,43528634,The DUFF,Mae Whitman|Robbie Amell|Bella Thorne|Bianca A...,Ari Sandel,"You either know one, you have one, or you are ...",Bianca's universe turns upside down when she l...,100,Romance|Comedy,Wonderland Sound and Vision|CBS Films|Vast Ent...,2/20/2015,6.8,2015
1702,tt0496806,85000000,311312624,Ocean's Thirteen,George Clooney|Brad Pitt|Matt Damon|Al Pacino|...,Steven Soderbergh,What are the odds of getting even? 13 to one.,Danny Ocean's team of criminals are back and a...,122,Crime|Thriller,Village Roadshow Pictures|Section Eight|Jerry ...,6/7/2007,6.4,2007
1331,tt0386588,70000000,368100420,Hitch,Will Smith|Eva Mendes|Kevin James|Amber Vallet...,Andy Tennant,The cure for the common man.,Dating coach Alex 'Hitch' Hitchens mentors a b...,118,Comedy|Drama|Romance,Columbia Pictures Corporation|Overbrook Entert...,2/10/2005,6.3,2005
692,tt0396707,12000000,7070330,The Secret of Moonacre,Ioan Gruffudd|Dakota Blue Richards|Tim Curry|A...,GÃ¡bor CsupÃ³,A Magical Journey Begins.,When 13 year old Maria Merryweather's father d...,103,Adventure|Fantasy|Drama|Science Fiction|Romance,South Pacific Pictures|Metropolitan Filmexport...,9/6/2008,5.7,2008

In [20]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [21]:
# creating a dictionary for inserting answers on that Project questions
answers = {}


def get_list_of_lists(seria):
    """ Getting a list of lists as a result of splitting into divided items 
    some seria of strings where every word is divided by '|' 
    
    :param seria: a Seria
    
    """
    
    items_list =  [s.split(sep='|') for s in seria]
    return (items_list)


def get_dict(list_of_lists):
    """Getting a dictionary from a list of lists where 
    keys are the different items of the list of lists and 
    every value means how many times the 
    correspondent item are in the the list of lists'
    
    :param list_of_lists: a list of lists
    
    """
    
    c = Counter() 
    for el in list_of_lists:  
        for word in el:          
            c[word]+=1
    return c


def num_words(s):
    """ Extracting number of words from string s, where
    words are bounded by the space symbol 
    
    :param s:  a string
    
    """
    
    return len(s.split(sep=' '))


def extract_month(s):
    """Extracting part of a string from the beginning to 
    the first income of '/' (not including the last one), 
    which corresponds to a month number, and conversion it 
    in month's name in Russian
    
    :param s: a string
    
    """
    
    return months[int(s.replace(s, s[: s.find("/")]))]


months = {1:'Январь', 2:'Февраль', 3:'Март', 4:'Апрель', 
          5:'Май', 6:'Июнь', 7:'Июль', 8:'Август', 
          9:'Сентябрь', 10:'Октябрь', 11:'Ноябрь', 12:'Декабрь'}

# Extracting month number from the column 'release_month' in the data 
release_month = data.release_date.apply(extract_month)

# The profit data
profit = data.revenue - data.budget 

# The genres as a list form for every movie in the data
genres_as_lists = get_list_of_lists(data.genres)

# There are movies in the source data with more then one director 
# and their mames are given as a string for that movies. Here is 
# the directors' names represents in a list form 
# for every movie in the data
directors_as_lists = get_list_of_lists(data.director)

# The actors' names as a list  for every movie in the data
actors_as_list = get_list_of_lists(data.cast)

# The production companies of every movie represented as a list  
ProdCompanies_as_lists =  get_list_of_lists(data.production_companies)

# The dictionary where every genre is a key, and 
# its frequency in the data is the value 
genres_dct = get_dict(genres_as_lists)

# The dictionary where every director's name is a key, and 
# its frequency in the data is the value
directors_dct = get_dict(directors_as_lists)

# The dictionary where every actor's name is a key, and 
# its frequency in the data is the value
actors_dct = get_dict(actors_as_list)

# The dictionary where every Productin Company is a key, and
# its frequency in the data is the value
ProdCompanies_dct = get_dict(ProdCompanies_as_lists)

# Extracting of every movie title's lenth
title_lenth = data.original_title.apply(len)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [112]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'  # +

In [22]:
df = data[data.budget == data.budget.max()]

print(f"{df.original_title.values[0]} ({df.imdb_id.values[0]})")

Pirates of the Caribbean: On Stranger Tides (tt1298650)

ВАРИАНТ 2

In [28]:
res = data.loc[data.budget == data.budget.max(),
               ['original_title', "imdb_id"]].values[0]

print(f"{res[0]} ({res[1]})")

Pirates of the Caribbean: On Stranger Tides (tt1298650)

# 2. Какой из фильмов самый длительный (в минутах)?

In [113]:
answers['2'] = '2. Gods and Generals (tt0279111)'  # +

In [25]:
df2 = data.loc[data.runtime == data.runtime.max(),
               ['original_title', "imdb_id"]]

print (f'{df2.original_title.values[0]} {df2.imdb_id.values[0]}')

Gods and Generals tt0279111

# 3. Какой из фильмов самый короткий (в минутах)?

In [114]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'  # +

In [29]:
df3 = data[data.runtime == data.runtime.min()]

print(f"{df3.original_title.values[0]} ({df3.imdb_id.values[0]})")

Winnie the Pooh (tt1449283)

ВАРИАНТ 2

In [30]:
res = data.loc[data['runtime'] == data['runtime'].min(), 
               ['original_title', 'imdb_id']]

print(f"{res.original_title.values[0]} ({res.imdb_id.values[0]})")

Winnie the Pooh (tt1449283)

# 4. Какова средняя длительность фильмов?

In [115]:
answers['4'] = '2. 110'  # +

In [31]:
data.describe().loc['mean']['runtime']

109.6585494970884

ВАРИАНТ 2

In [32]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [116]:
answers['5'] = '1. 107'  # +

In [33]:
data.describe().loc['50%']['runtime']

107.0

ВАРИАНТ 2

In [34]:
np.median(data.runtime)

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [117]:
answers['6'] = '5. Avatar (tt0499549)'  # +

In [35]:
# Inserting in the data a new column with profit values:
data['profit'] = profit

res = data.loc[data['profit'] == data['profit'].max(), 
               ['original_title', 'imdb_id']]

print(f"{res.original_title.values[0]} ({res.imdb_id.values[0]})")

Avatar (tt0499549)

ВАРИАНТ 2

In [44]:
# Reading the data into the new dataframe 'dat_2', 
# as the profit data is already added to the dataframe 'data'
dat_2 = pd.read_csv('movie_bd_v5.csv')

# Inserting new column, named 'profit', each value of it equals 
# the correspondent difference between revenue and budget values,
# right following them:
dat_2.insert(3, 'profit', dat_2.revenue - dat_2.budget)  
max_profit_movie_2 = dat_2.loc[dat_2.profit == dat_2.profit.max(), 
                               ['original_title', 'imdb_id' ]]

print(
    f"{max_profit_movie_2.original_title.values[0]} ({max_profit_movie_2.imdb_id.values[0]})"
     )

Avatar (tt0499549)

# 7. Какой фильм самый убыточный?

In [118]:
answers['7'] = '5. The Lone Ranger (tt1210819)'  # +

In [45]:
# The condition ```data.profit<0``` below is not unnecessary, 
# as a movie with min profit, but still positive 
#  cannot be considered as unprofitable
max_unprofit_movie = data.loc[(data.profit<0) & (data.profit==data.profit.min()),
                              ['original_title', 'imdb_id']]
print(
      f"{max_unprofit_movie.original_title.values[0]} ({max_unprofit_movie.imdb_id.values[0]})"
      )

The Lone Ranger (tt1210819)

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [119]:
answers['8'] = '1. 1478'  # +

In [46]:
number_profit_movies = data.loc[data.profit > 0, 'imdb_id'].count()
number_profit_movies

1478

ВАРИАНТ 2

In [47]:
number_profit_movies = len(data.loc[data.profit > 0])
number_profit_movies

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [120]:
answers['9'] = '4. The Dark Knight (tt0468569)'  # +

In [50]:
movies_2008 = data.loc[data.release_year == 2008, ['original_title', "imdb_id",'revenue']]
max_revenue_2008 = movies_2008[movies_2008.revenue == movies_2008.revenue.max()]

print(f"{max_revenue_2008.original_title.values[0]} ({max_revenue_2008.imdb_id.values[0]})")

The Dark Knight (tt0468569)

ВАРИАНТ 2

In [35]:
revenue_max_2008 = data.groupby(['release_year']).revenue.max()[2008]
data.query('release_year == 2008 & revenue == @revenue_max_2008')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [121]:
answers['10'] = '5. The Lone Ranger (tt1210819)'  # +

In [51]:
# The condition ```movies_for_period['profit']<0``` below  
# is not unnecessary, as a movie with min profit, but still 
# positive, cannot be considered as unprofitable
movies_for_period = data.loc[(data['release_year'] >=2012) 
                             & (data['release_year'] <=2014), 
                             ['original_title','imdb_id','profit']]

max_unprofit_movie = movies_for_period[(movies_for_period['profit']<0) 
                                       & (movies_for_period['profit'] 
                                       == movies_for_period['profit'].min())]

print(
    f"{max_unprofit_movie.original_title.values[0]} ({max_unprofit_movie.imdb_id.values[0]})"
    )

The Lone Ranger (tt1210819)

# 11. Какого жанра фильмов больше всего?

In [122]:
answers['11'] = '3. Drama'  # +

In [52]:
dict = genres_dct
genre_max_often = max(genres_dct, key=genres_dct.get)
display(genre_max_often)

'Drama'

ВАРИАНТ 2

In [55]:
# The key in the first item, 
# printing by the print function for such type of dicitonary, 
# is the key with maximum value
print(genres_dct)

Counter({'Drama': 782, 'Comedy': 683, 'Thriller': 596, 'Action': 582, 'Adventure': 415, 'Crime': 315, 'Romance': 308, 'Family': 260, 'Science Fiction': 248, 'Fantasy': 222, 'Horror': 176, 'Mystery': 168, 'Animation': 139, 'Music': 64, 'History': 62, 'War': 58, 'Western': 19, 'Documentary': 8, 'Foreign': 2})

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [123]:
answers['12'] = '1. Drama'  # +

In [56]:
data_profit = data.loc[data['profit'] > 0]

seria = data_profit.genres
genre_profit_movies_list = get_list_of_lists(seria)

dct_genre_profit_movies = get_dict(genre_profit_movies_list)

# The key in the first item, printing by function Print 
# for such type of dicitonary, is the key with maximum value
print(dct_genre_profit_movies)

Counter({'Drama': 560, 'Comedy': 551, 'Thriller': 446, 'Action': 444, 'Adventure': 337, 'Romance': 242, 'Crime': 231, 'Family': 226, 'Science Fiction': 195, 'Fantasy': 188, 'Horror': 150, 'Animation': 120, 'Mystery': 119, 'Music': 47, 'History': 46, 'War': 41, 'Western': 12, 'Documentary': 7})

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [124]:
answers['13'] = '5. Peter Jackson'  # +

In [93]:
# There are movies in the source data with more then one director 
# and their mames are given as a string for that movies, so 
# let's firstly get  their names as a list
dat13 = data.copy()

# Adding a column containing every movie directors' name as a list
dat13['directors_as_lists'] = directors_as_lists

# Getting dictionary, with names of direcitors as keys 
# and values equal to correspodent total revenue for every director
total_revenues_dict = {}
for name in list(directors_dct.keys()):
    total_revenues_dict[name] = dat13['revenue'][
                                                 dat13['directors_as_lists'].
                                                     map(lambda x: True if name in x else False)].sum()
    
dict = total_revenues_dict
director_with_total_revenue = max(dict, key=dict.get)

display(director_with_total_revenue)

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [125]:
answers['14'] = '3. Robert Rodriguez'  # +

In [94]:
# As there is no other genres' names, that might be considered 
# as the same by  .str.contains method,
# using this method will not give wrong results
dat14 = data[data.genres.str.contains('Action')]

dir_AcionMovies_asList = get_list_of_lists(dat14.director)

dir_NumActionMovies_dct = get_dict(dir_AcionMovies_asList)   

director_max_ActionMovies = max(dir_NumActionMovies_dct, 
                                key=dir_NumActionMovies_dct.get)

display(director_max_ActionMovies)

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [126]:
answers['15'] = '3. Chris Hemsworth'  # +

In [95]:
data15 = data.copy()
data15['actors_as_list'] = actors_as_list

dat_2012 = data15[data.release_year == 2012]

totRevenues_dct = {}
for name in list(actors_dct.keys()):
    totRevenues_dct[name] = dat_2012['revenue'][
        dat_2012['actors_as_list'].
        map(lambda x: True if name in x else False)].sum()
    
dict = totRevenues_dct
actor_with_max_totalRevenues = max(dict, key=dict.get)  

display(actor_with_max_totalRevenues)

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [127]:
answers['16'] = '3. Matt Damon'  # +

In [96]:
# Here by a high budget movie is meant a movie, 
# which budget is more than the average one
seria = data[data.budget > data.budget.mean()].cast

actors_lists = get_list_of_lists(seria)

dict = get_dict(actors_lists)

actor_withMax_HighBudget_Movies = max(dict, key=dict.get)

display(actor_withMax_HighBudget_Movies)

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [128]:
answers['17'] = '2. Action'  # +

In [98]:
# As there is no other genres' names, that might be considered 
# as the same by .str.contains method,
# using the last mentioned method will not give wrong results

Actor = 'Nicolas Cage'
seria = data[data.cast.str.contains(Actor)].genres

genres_Actor_lists = get_list_of_lists(seria)

genres_Actor_dict = get_dict(genres_Actor_lists)

# The key in the first item, printing by the function Print 
# for such type of dictionary, is the key with maximum value
print(genres_Actor_dict)

Counter({'Action': 17, 'Thriller': 15, 'Drama': 12, 'Crime': 10, 'Fantasy': 8, 'Adventure': 7, 'Comedy': 6, 'Science Fiction': 4, 'Mystery': 3, 'Animation': 3, 'Family': 3, 'History': 2, 'War': 1, 'Horror': 1, 'Romance': 1})

# 18. Самый убыточный фильм от Paramount Pictures

In [129]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'  # +

In [75]:
dat18 = data.copy()

# Adding a new column to the data18, containing 
# the Product Companies' names data in a list-type form
dat18['ProdCompanies_as_lists'] = ProdCompanies_as_lists

dt = dat18[dat18.profit < 0][['ProdCompanies_as_lists', 
                              'profit', 'imdb_id', 'original_title']]

PP = 'Paramount Pictures'
dt_PP_min_value = dt['profit'][dt['ProdCompanies_as_lists'].
                               map(lambda x: True if PP in x else False)].min()

res = dt[dt.profit == dt_PP_min_value]

print(f"{res.original_title.values[0]} ({res.imdb_id.values[0]})")

K-19: The Widowmaker (tt0267626)

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [130]:
answers['19'] = '5. 2015'  # +

In [99]:
revenues_by_years = data.groupby(['release_year'])['revenue'].sum()

res = revenues_by_years[revenues_by_years == revenues_by_years.max()]
print(res.index[0])

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [131]:
answers['20'] = '1. 2014'  # + см. ВАРИАНТ 2

**ПРЕДВАРИТЕЛЬНОЕ ЗАМЕЧАНИЕ** 
Приступив к решению заданий, достаточно быстро обнаружила,  что среди студий (столбец 'production_companies') встречается довольно много  похожих наименований (примеры приведу отдельно ниже). При этом часть из этих похожих наименований, будучи формально разными, скорее всего, обозначают одну и ту же компанию, а другая - непонятно.   
В связи с обнаруженным, задала вопрос ментору Е.Поповой, как следует поступать в решении со вскрывшимся обстоятельством.    
Ответом было, что следует считать, что "это все разные компании").       
При решениях я так и поступала. Система проверки при этом показала, что все полученные мною ответы - совпдадают с правильными.     

Однако, при оформлении и перепроверке своих решений, я поняла, что в ряде задач использование метода  ```.str.contains(s)``` некорректно, т.к он не отлавливает разницу между некоторыми студиями, которые, как следовало из ответа Е.Поповой, должны рассматриваться как разные. К таковым, например, относятся студии  "Lucasfilm" и "Lucasfilm Ltd.").    
Пришлось переделать решения в целом ряде заданий этого блока, путем ввода дополнительного столбца, где данные, представленные в строку через разделитель '|' представлены уже в виде списка.    
На часть ответов это изменение не повлияло.      
В данном же задании ответ в результате переделки изменился. 
В ВАРИАНТЕ 1 - приведено правильное, как я считаю, решение. (Точнее, оно правильное, если считать, что вопрос в задании касается студии "Warner Bros." (ибо студии с написанием без точки, "Warner Bros", как в условии, в исходных данных **вообще нет**!   
В ВАРИАНТЕ 2 - неправильное (с использованием  ```.str.contains('Warner Bros')```), но дающее тот ответ, на который Система проверки отреагировала как на правильный. 

И напоследок. Вот еще  некоторые другие примеры "проблемных студий":
- 'Warner Bros.'  и  'Warner Bros. Animation', 'Warner Bros. Pictures'
- а) '20th Century Fox', б) '20th Century Fox Home Entertainment', в) 'Twentieth Century Fox' г) 'Twentieth Century Fox Film Corporation';
- 'BBC' и 'BBC Films',
- 'Bedford Falls Company, The', и  'Bedford Falls Productions',
- 'BenderSpink',  'Benderspink',
- 'Big Beach Films', 'Big Beach Productions',
- 'Birnbaum / Barber Productions',  'Birnbaum/Barber'
- 'Blind Wink', 'Blind Wink Productions'

ВАРИАНТ 1

In [100]:
# As it was asked by mentor E.Popova to me, all production companies with different way of writing 
# should be considered as different ones. 
# There is no at all production company in the data, whose name is written as "Warner Bros" , 
# but there is one, written as "Warner Bros."  So, it was used the last one in the code below.    

# Below is used the dat18, that is the copy of the data, 
# where the column with has also been added (see Task 18)

WB = "Warner Bros."
df = dat18[dat18['production_companies'].
           str.contains('Warner Bros.')][['ProdCompanies_as_lists', 'profit', 'release_year']]
WB_dat = df[df.ProdCompanies_as_lists.apply(lambda x: WB in x )]

ProfByYears = WB_dat.groupby(['release_year']).profit.sum()

max_profit_year_for_WB = ProfByYears[ProfByYears == ProfByYears.max()].index[0]
print(max_profit_year_for_WB)

2007

ВАРИАНТ 2   
Это решение выдает ответ, совпадающий с ответом в системе проверки SkillFaxctory, однако в нем не учитывается то обстоятельство, что для метода  ```.str.contains('Warner Bros')```   в выборку вместе с 'Warner Bros.' , попадают и другие компании, такие как   'Warner Bros. Animation', и 'Warner Bros. Pictures' .

In [101]:
Cmp = 'Warner Bros'
data_Cmp = data[data.production_companies.str.contains(Cmp)]
grouped_by_years_profit_for_Cmp = data_Cmp.groupby(['release_year']).profit.sum()

sr = grouped_by_years_profit_for_Cmp
max_profit_year_for_Cmp = sr[sr == sr.max()].index[0]
print(max_profit_year_for_Cmp)

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [132]:
answers['21'] = '4. Сентябрь'  # +

In [102]:
data21 = data.copy()

# Inserting new column 'release_month' in the copy of the data,  
# which contains the names of correspondent months in Russian,
# extracted and converted from the "release_date" values
data21['release_month'] = release_month

movies_by_months = data21.groupby(['release_month']).imdb_id.count()

res = movies_by_months[movies_by_months == movies_by_months.max()].index[0]
display(res)

'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [133]:
answers['22'] = '2. 450'   # +

In [75]:
# In the code below is used tha DataFrame 'data21', which is 
# the copy of the data, with added a column of 
# the month release data 'release_month'
data21.query('release_month in ("Июнь", "Июль","Август")').imdb_id.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [134]:
answers['23'] = '5. Peter Jackson' # +

In [103]:
# In the code below it is used tha DataFrame 'data21', which is  
# the copy of data, with added a column of
# the month release data 'release_month'

# Adding to data21 a column with movie directors' names perpesented as list
data21['directors_as_lists'] = directors_as_lists

data_winter = data21.query('release_month in ("Декабрь", "Январь", "Февраль")')[
    ['imdb_id', 'directors_as_lists']]

winter_activity = {}

for name in list(directors_dct.keys()):
    winter_activity[name] = data_winter['imdb_id'][
        data_winter.directors_as_lists.
        apply(lambda x: True if name in x else False )].count()
    
dct = winter_activity
director_with_maxMovies_inWinter = max(dct, key=dct.get)
display(director_with_maxMovies_inWinter)

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [135]:
answers['24'] = '5. Four By Two Productions'  # +

In [104]:
# In the code below by   
# "finding the max lenth for movies titles of every production company" 
# is meant the finding of max 
# among the average lenths of movies' titles of every company"

dat24 = data.copy()
dat24['title_lenth'] = title_lenth
dat24['ProdCompanies_as_lists'] = ProdCompanies_as_lists

mean_lenth_dict = {}
for name in list(ProdCompanies_dct.keys()):
     mean_lenth_dict[name] = dat24['title_lenth'][
         dat24.ProdCompanies_as_lists.
         apply(lambda x: True if name in x else False)].mean()

dct = mean_lenth_dict
Company_with_max_meanTitles = max(dct, key=dct.get)
display(Company_with_max_meanTitles)

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [136]:
answers['25'] = '3. Midnight Picture Show'  # +

In [106]:
# In the code below it is considered that 
# a word in an overview is any sequence of characters 
# bounded by the space symbols form both sides

dat25 = data.copy()
dat25['overview_words'] = dat25.overview.apply(num_words)
dat25["ProdCompanies_as_lists"] = ProdCompanies_as_lists

dict_mean_words = {}
for name in list(ProdCompanies_dct.keys()):
    dict_mean_words[name] = dat25["overview_words"][
        dat25["ProdCompanies_as_lists"].apply(lambda x: True if name in x else False)].mean()

Company_max_meanNumWords_inOverview = max(dict_mean_words.items(), key=lambda x: x[1])[0]
display(Company_max_meanNumWords_inOverview)

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [137]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'   # +

In [108]:
# the question answers suggested as variants
qa1 = [1,'Inside Out', 'The Dark Knight', '12 Years a Slave']
qa2 = [2, 'BloodRayne', 'The Adventures of Rocky & Bullwinkle']
qa3 = [3,'Batman Begins', 'The Lord of the Rings: The Return of the King',' Upside Down']
qa4 = [4,'300', 'Lucky Number Slevin','Kill Bill: Vol. 1']
qa5 = [5,'Upside Down', 'Inside Out', 'Iron Man']

QA = [qa1, qa2, qa3, qa4, qa5]

perc_99 = np.percentile(data.vote_average, 99)  # Q1
perc_top1 = data[data.vote_average > perc_99][['imdb_id', 'original_title', 'vote_average']]

for item in QA:
     if (set(item[1:]).issubset(perc_top1.original_title.values) is True):
            print(f"{item[0]}. {item[1:]}")

1. ['Inside Out', 'The Dark Knight', '12 Years a Slave']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [139]:
answers['27'] = '27. Daniel Radcliffe & Rupert Grint'   # +

In [109]:
# Sort for every movie its list of actor's names. 
# (It is necessary for getting ordered pairs 
# of different actor's names in the next step)
for lst in actors_as_list:
    lst.sort()

# Gettins ordered pairs of different actor's names from cast of every movie 
pairs_lists = []
for i in range(len(actors_as_list)):
    pairs_lists.append(list(combinations(actors_as_list[i], 2)))

# Getting a dictionary, where keys are pairs of different actor's names,
# and values are frequency of appearance the correspondent pair in movies' cast  
pairs_dict = get_dict(pairs_lists)

# Getting actors' pairs with max frequency of appearing together at moveis'casts 
for key in pairs_dict.keys():
    if  pairs_dict[key] == max(list(pairs_dict.values())):
        print(key)

('Daniel Radcliffe', 'Emma Watson')
('Daniel Radcliffe', 'Rupert Grint')
('Emma Watson', 'Rupert Grint')

# Submission

In [140]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '27. Daniel Radcliffe & Rupert Grint'}

In [141]:
# и убедиться что ни чего не пропустил)
len(answers)

27